.Location

{
     margin-top:95px;
  margin-left:30px;
}
.head
{
 
  margin-left:10px;
  
}
#lineonee
{
height: 2px;
color: #CECBCE;
background-color:#CECBCE;
border: none;
}

.Locationdatas
{
    margin-left: 50px;
}